In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 한글처리
import matplotlib.font_manager as fm
font_name = fm.FontProperties(fname="C:\\Windows\\Fonts\\malgun.ttf").get_name()
plt.rc("font", family=font_name)

# 음수 - 표시 처리
import matplotlib as mlp
mlp.rcParams["axes.unicode_minus"] = False

## 주제 : 서울시 구별 CCTV 현황 분석

+ 출처 : https://data.seoul.go.kr/
    - "CCTV 현황" : http://data.seoul.go.kr/dataList/OA-2734/F/1/datasetView.do
    - "서울시 인구" : https://data.seoul.go.kr/dataList/419/S/2/datasetView.do

## 1. Data Prepare

### (1) CCTV Data

In [2]:
cctv_seoul = pd.read_csv("data/seoul/cctv.csv")
cctv_seoul.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  3238       1292    430    584    932
1  강동구  1010        379     99    155    377
2  강북구   831        369    120    138    204
3  강서구   911        388    258    184     81
4  관악구  2109        846    260    390    613

### (2) Population Data

In [3]:
pop_seoul = pd.read_excel("data/seoul/Report.xls")
pop_seoul.head()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2018.1/4,합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,130974,142204,2.32,1382420
3,2018.1/4,종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429
4,2018.1/4,중구,60903,135139,66582,68557,126082,62376,63706,9057,4206,4851,2.07,21655